#patterns {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 10rem 2rem;
    gap: 1rem;
    margin-top: -15px;
}

.pPattern {
    flex: 1;
    font-size: 40px;
    font-family: "Caveat", cursive;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5;
    text-align: left;
    margin-top: -30px;
    margin-left: 20px;
}

.sub {
    position: absolute;
    margin-top: 50px;
    font-weight: normal;
    font-size: 20px;
    font-family: "Fira Sans Condensed", sans-serif;
}

.pSun {
    max-width: 60px;
    margin-top: -80px;
    margin-left: 40px; 
}

.phr {
    display: block;
    height: 1px;
    max-width: 300rem;
    border: 0;
    border-top: 1px solid #0d0b0b;
    margin-top: -15px;
    margin-left: 460px;
    width: 500px;
  }

  .graph {
    background-color: #ffffff;
    position: relative;
    width: 600px;
    min-height: 100px; 
    margin-top: 100px;
    border: 1px solid #80a9b4;
    border-radius: 25px;
    font-family: "Fira Sans Condensed", sans-serif;
    overflow: hidden; 
    box-sizing: border-box; 
  }
  
  table {
    width: 100%;
    table-layout: fixed; 
    border-collapse: collapse;
  }
  
  th, td {
    text-align: center;
    border: 1px solid #80a9b4;
    border-radius: 20px;
    padding: 8px;
    word-wrap: break-word; 
  }
  