.container {
    display:inline-flex;
    align-items:flex-start;
    justify-content: center;
    gap: 1rem;
    position: relative;
    padding: 2rem;
    margin-top: 20rem;
}


.Hsun {
    width: 10%;
    max-width: 60px;
    margin-top: 10px;
    margin-left: 40px; 
}

#hotspots {
    display:flex;
    flex-direction:column;
    font-size: 40px;
    font-family: "Caveat", cursive;
    font-weight: 600;
    font-style: normal;
    align-items: center;
    width: 100%;
}


.map{
    border-radius: 10%;
    border: 1px solid #000000;
    width: 100%; 
    filter: brightness(84%);

}


.map-container {
    position: relative;
    display:inline;
    
    margin-top: 2rem; 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.hotspot-marker {
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(255, 255, 255);
    background-color: #d78b91;
    border-radius: 50%;
    cursor: pointer;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 10px;
    text-align: center;
}

.hotspot-marker:hover::after {
    content: attr(data-location);
    white-space: pre-wrap;
    word-wrap: normal;
    position: absolute;
    top: -20px; 
    height: 100px;
    width: 200px;
    left: 20px; 
    border: 1px solid rgb(255, 255, 255);
    background-color: #d68689;
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 20px;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: normal;
    font-size: 14px;
    border-radius: 5px;
    text-align: left;
    z-index: 10;
}

.lat{
    color: red;
}


.find {
    margin-top: 750px;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 23px;
    font-weight: normal;
    margin-left: 200px;
}

.interaction_container {
    margin-top: 2rem;
    text-align: center;
}  

#name {
    border-radius: 30px;
    margin-left: 10px;
    min-width:10%;
    height: 10%;
    background-color:#80a9b4;
    border: 1px solid rgb(0, 0, 0);
    font-size:25px;
    width: 90px;
    text-align: center;
    font-family: "Fira Sans Condensed", sans-serif;
}



.button {
    width: 100px;
    margin-left: 10px;
    border-radius: 40px;
    height: 32px;
}

.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #0d0b0b;
    margin-top: -15px;
    margin-left: 400px;
    width: 580px;
  }

.controls {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
}

.interaction_container{
    margin-top: -710px;
    margin-left: 400px;
}

.input_box {
    padding: 10px;
    font-size: 16px;
    border-radius: 19px;
    width: 60px;
    text-align: center;
    font-family: "Fira Sans Condensed", sans-serif;
    margin-left: 20px;
    background-color: rgb(232, 237, 240);
    border: 0;
}



.find {
    background-color: #bcd8d9;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 17px;
    padding: 11px 3px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 20px;
    border: 0;
    transition: all 0.2s ease-in-out;
    width: 135px;
    height: 40px;
}

.find:hover {
    background-color:#98adae;
}


.button {
    display: flex;
    gap: 1rem;
    margin-top: 10px;
}
.time-display {
    margin-top: 15px;
    font-size: 16px;
    color: #555;
    text-align: center;
    font-family: "Fira Sans Condensed", sans-serif;
}


