.container {
    display:inline-flex;
    align-items:flex-start;
    justify-content: center;
    position: absolute;
    padding: 10rem 2rem;
    gap: 1rem;
    margin-top: 12rem;
}


.Hsun {
    width: 10%;
    max-width: 60px;
    margin-top: 10px;
    margin-left: 40px; 
}

.hHotspots {
    flex: 1;
    font-size: 40px;
    font-family: "Caveat", cursive;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5;
    text-align: left;
    margin-top: 10px;
    margin-left: 30px;
}


.map{
    margin-top: 29rem;
    margin-left: 45px;
    width: 93%;
    border-radius: 10%;
    border: 1px solid #000000; 
}

.find {
    margin-top: 750px;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 23px;
    font-weight: normal;
    margin-left: 200px;
}

#name {
    border-radius: 30px;
    margin-left: 10px;
    min-width:10%;
    height: 10%;
    background-color:#80a9b4;
    border: 1px solid rgb(0, 0, 0);
    font-size:25px;
    width: 90px;
    text-align: center;
    font-family: "Fira Sans Condensed", sans-serif;
}

.button {
    width: 100px;
    margin-left: 10px;
    border-radius: 40px;
    height: 32px;
}

.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #0d0b0b;
    margin-top: -15px;
    margin-left: 400px;
    width: 580px;
  }

.controls {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
}

.interaction_container{
    margin-top: -710px;
    margin-left: 400px;
}

.input_box {
    padding: 10px;
    font-size: 19px;
    border: 1px solid #6e6c6c;
    border-radius: 19px;
    width: 60px;
    text-align: center;
    font-family: "Fira Sans Condensed", sans-serif;
    margin-left: 20px;
    background-color: #e8edf0;
}

.fj{
    font-size: 22px;
    font-family: "Fira Sans Condensed", sans-serif;
}

.find {
    background-color: #bcd8d9;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 17px;
    padding: 11px 3px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid rgb(25, 25, 25);
    margin-left: 20px;
    transition: all 0.2s ease-in-out;
}

.find:hover {
    background-color:#98adae;
}

.button {
    display: flex;
    gap: 1rem;
    margin-top: 10px;
}

.heap_button,
.table_button {
    font-size: 16px;
    padding: 8px 15px;
    color: rgb(9, 9, 9);
    background-color: #bcd8d9;
    border: 1px solid black;
    border-radius: 15px;
    gap: 1px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.heap_button:hover,
.table_button:hover {
    background-color: #a3b5b6; /*turns darker when hovered*/
    transform: scale(1.05);
}

.heap_button:active,
.table_button:active {
    background-color: #888;
    transform: scale(1);
}

.time-display {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
    text-align: center;
    font-family: "Fira Sans Condensed", sans-serif;
}
