* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body {
    background-color: #a3c9d2;
    color: rgb(0, 0, 0);
    overflow: hidden;
    overflow-y: scroll;
}

.caveat {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
  }
  
.caveat-brush-regular {
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .fira-sans-condensed-thin {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-condensed-extralight {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-condensed-light {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-condensed-regular {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-condensed-medium {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-condensed-semibold {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-condensed-bold {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-condensed-extrabold {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-condensed-black {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-condensed-thin-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-condensed-extralight-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-condensed-light-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-condensed-regular-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-condensed-medium-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-condensed-semibold-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-condensed-bold-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-condensed-extrabold-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-condensed-black-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 900;
    font-style: italic;
  }


  .togglebackground {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 133px;
    height:38px;
    background-color: #a3c9d2;
    border-radius: 25px;
    padding: 5px;
    position: relative;
    border: 1px solid #000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-left: 70px;
  }

  
  .toggle {
    flex: 1;
    border: none;
    background-color: transparent;
    font-size: 13px;
    font-weight: normal;
    padding: 10px;
    border-radius: 230px;
    cursor: pointer;
    color: #141111;
    transition: 0.3s;
    margin-left: -5px;
  }
  
  .toggle.active {
    background-color: #bbdede;
    color: #000;
    border: 1px solid #000;
    box-shadow: 0 2px 4px #22292c;
  }
  
  .toggle:hover {
    color: #333;
  }
  
  