* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body {
    background-color: #a3c9d2;
    color: rgb(0, 0, 0);
    overflow: hidden;
    overflow-y: scroll;
}

.caveat {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
  }
  
.caveat-brush-regular {
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .fira-sans-condensed-thin {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-condensed-extralight {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-condensed-light {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-condensed-regular {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-condensed-medium {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-condensed-semibold {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-condensed-bold {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-condensed-extrabold {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-condensed-black {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-condensed-thin-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-condensed-extralight-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-condensed-light-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-condensed-regular-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-condensed-medium-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-condensed-semibold-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-condensed-bold-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-condensed-extrabold-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-condensed-black-italic {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  .togglecontainer {
    position: relative;
    display: inline-block;
    width: 133px;
    height:38px;
    margin-top: 15px;
    margin-left: 24%;
  }

  .togglecontainer input{
    opacity: 0;
    width: 0;
    height: 0;
    z-index: 3;
  }

  .togglebackground {
    display: flex;
    position:absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #759096;
    border-radius: 25px;
    transition: 0.3s;
  }

  .togglebackground:before {
    position: absolute;
    background-color: #bcd8d9;
    border-radius: 25px;
    content: "";
    height: 100%;
    width: 50%;
    transition: 0.3s;
    border: none;
  }

  
  .check:checked + .togglebackground:before {
    transform: translateX(100%);
  }

  .toggletext{
    text-align: center;
    position:static;
    border: none;
    background-color: transparent;
    font-size: 13px;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: normal;
    color: #141111;
    z-index: 1;
    width: 50%;
    height: 1em;
    margin-top: auto;
    margin-bottom: auto;
  }




  .fj{
    font-size: 22px;
    font-family: "Fira Sans Condensed", sans-serif;
    margin-left: -450px;
    margin-top: -10px;
    font-weight: normal;
}

/*   nivedha here!

.toggle:checked {
    animation: slideOn 0.3s linear forwards;
} 

@keyframes .togglebackground:clicked {
    0% {
        transform: translateX(40px) scale(1);
    
    }

    50% {
        transform: translateX(20px) scale(1.2);
    }

    0% {
        transform: translateX(0) scale(1);
    }

} */
  
  