* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}

body {
    background: #acb5cf;
    color: rgb(0, 0, 0);
    overflow: hidden;
    overflow-y: scroll;
}

.caveat {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
  }
  